{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/CR.css' %}" />
    <title>form을 이용한 글 작성 페이지</title>
  </head>

  <body>
    <form action="" method="POST">
      {% csrf_token %} {% for field in form %}
      <div>
        <label for="{{ field.id_for_label }}" class="form_label"
          >{{ field.label }}</label
        >
        <input
          type="{{ field.field.widget.input_type }}"
          name="{{ field.name }}"
          class="form_field"
          id="{{ field.id_for_label }}"
          placeholder="{{ field.label }}"
          minlength="10"
          maxlength="30"
        />
      </div>
      {% endfor %}

      <input type="submit" value="생성" class="submit_field" />
    </form>
  </body>
</html>
