{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <link rel = "stylesheet" href = "{% static 'CSS/index.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>heeeeellllloooo</h1>

<div class = "contents">
<a href = "{% url 'new' %}">html form</a>
<a href = "{% url 'formC' %}">장고 form</a>
<a href = "{% url 'modelformC' %}">장고 modelform</a>
<a href = "{% url 'register' %}">스터디 등록</a>
</div>


{%for post in posts %}

<a href = "{% url 'detail' post.id %}">

    <p class = "html_title">
        {{post.id}} : {{post.title}}</p>
</a>

{{post.date}}


{% endfor %}
</body>
</html>